<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <p>Hallo {{ name }} <br><br>
    Es wurde eine Änderung deines Passworts auf
    <a href="{{ huette_link }}">"Der Alp-Hütte"</a>
    beantragt. <br><br>
    Mit dem folgenden Link kannst du dein Passwort zurücksetzen: <br>
    <a href="{{ reset_link }}">Passwort zurücksetzen</a> <br><br>
    Falls du dein Passwort nicht zurücksetzen wolltest, 
    melde es bei Gelegenheit einem der Hüttenwarte. <br>
    <br>
    Dieses Mail wurde automatisch generiert und 
    die Adresse wird nicht bewirtschaftet! <br>
    !!! Bitte sende keine Mails an diese Adresse !!!</p>
</body>
</html>